<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
</head>
<body>
  <main>{{ content }}</main>
  <header></header>
  <footer></footer>
  <nav>
    <ul>{% for item in site.data.nav.toc %} {% assign href = item.pathpart | prepend: site.baseurl | prepend: site.url %}
      <li><a href="{{ href }}">{{ item.title }}</a>
        <ul>{% for subA in item.subfolderitems %} {% assign aref = item.pathpart | append: subA.pathpart | prepend: site.baseurl | prepend: site.url %}
          <li><a href="{{ aref }}">{{ subA.title }}</a>
            <ul>{% for subB in subA.subfolderitems %} {% assign bref = item.pathpart | append: subA.pathpart | append: subB.pathpart | prepend: site.baseurl | prepend: site.url %}
              <li><a href="{{ bref }}">{{ subB.title }}</a>
                <ul>{% for subC in subB.subfolderitems %} {% assign cref = item.pathpart | append: subA.pathpart | append: subB.pathpart | append: subC.pathpart | prepend: site.baseurl | prepend: site.url %}
                  <li><a href="{{ cref }}">{{ subC.title }}</a>
                    <ul>{% for subD in subC.subfolderitems %} {% assign dref = item.pathpart | append: subA.pathpart | append: subB.pathpart | append: subC.pathpart | subD.pathpart | prepend: site.baseurl | prepend: site.url %}
                      <li><a href="{{ dref }}">{{ subD.title }}</a></li>{% endfor %}
                    </ul>
                  </li>{% endfor %}
                </ul>
              </li>{% endfor %}
            </ul>
          </li>{% endfor %}
        </ul>
      </li>{% endfor %}
    </ul>
  </nav>
</body>
</html>