blockquote {
  color: #4278b9;
  border-left-color: #4278b9;
  border-left-width: .5rem;
}
blockquote:before {
    content: '\201C';
    font-size: 3rem;
    font-family: 'Sanchez', serif;
    z-index: -1;
    color: #d2d4d6;
    font-weight: bolder;
    float: left;
    margin-top: -0.7rem;
    margin-left:-0.7rem;
}
